/*
!.*
*.swp
.CFUserTextEncoding
.DS_Store
.Trash/
.account
.cups/
.dropbox/
.firebird-keys
.lesshst
.bash_history
.nave/
.npm/
.ssh/
.subversion/
.z
.zcompdump
.oh-my-zsh/rEADME.textile
.oh-my-zsh/functions
.oh-my-zsh/lib
.oh-my-zsh/log
.zsh_history
